@model CloudFileServer.Models.DownloadViewModel
<link rel="stylesheet" href="~/css/columns.css" />
@{
    ViewData["Title"] = "Index";
}

<h1>
    @Model.path
</h1>

<form id="download" method="get" action="/Download/Download"></form>
    <input type="hidden" name="root" value=@Model.path>
    <table class="table" style="table-layout:fixed;"><!--" overflow: hidden;"-->
        <col style="width: 15px;" />
        <col style="width: 40%;" />
        <col style="width: 30px" />
        <col style="width: 30px" />
        <col style="width: 30px" />
        <thead>
            <tr>
                @{
                        string colonName = "";
                    }
                <th>

                </th>
                <th>
                        @{
                            colonName = Html.DisplayNameFor(model => model.files[0].Name);
                        }
                    <a href="?path=@Model.path&sort=@colonName&reverse=@Model.sortInfo.GetNotReverse(colonName)"
                        style="color: black;text-decoration: none;">
                            @if (Model.sortInfo.SortBy.Equals(colonName))
                            {
                                @if (Model.sortInfo.Reverse)
                                {
                                <i class="bi-arrow-up"></i>
                                }
                                else
                                {
                                <i class="bi-arrow-down"></i>
                                }
                            }
                            @colonName
                    </a>
                </th>
                <th>
                        @{
                            colonName = Html.DisplayNameFor(model => model.files[0].Extension);
                        }
                    <a href="?path=@Model.path&sort=@colonName&reverse=@Model.sortInfo.GetNotReverse(colonName)"
                        style="color: black;text-decoration: none;">
                            @if (Model.sortInfo.SortBy.Equals(colonName))
                            {
                                @if (Model.sortInfo.Reverse)
                                {
                                <i class="bi-arrow-up"></i>
                                }
                                else
                                {
                                <i class="bi-arrow-down"></i>
                                }
                            }
                            @colonName
                    </a>
                </th>
                <th>
                        @{
                            colonName = Html.DisplayNameFor(model => model.files[0].Date);
                        }
                    <a href="?path=@Model.path&sort=@colonName&reverse=@Model.sortInfo.GetNotReverse(colonName)"
                        style="color: black;text-decoration: none;">
                            @if (Model.sortInfo.SortBy.Equals(colonName))
                            {
                                @if (Model.sortInfo.Reverse)
                                {
                                <i class="bi-arrow-up"></i>
                                }
                                else
                                {
                                <i class="bi-arrow-down"></i>
                                }
                            }
                            @colonName
                    </a>
                </th>
                <th>
                        @{
                            colonName = Html.DisplayNameFor(model => model.files[0].Size);
                        }
                    <a href="?path=@Model.path&sort=@colonName&reverse=@Model.sortInfo.GetNotReverse(colonName)"
                        style="color: black;text-decoration: none;">
                            @if (Model.sortInfo.SortBy.Equals(colonName))
                            {
                                @if (Model.sortInfo.Reverse)
                                {
                                <i class="bi-arrow-up"></i>
                                }
                                else
                                {
                                <i class="bi-arrow-down"></i>
                                }
                            }
                            @colonName
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
                @if (!Model.path.Equals("/"))
                {
                <tr>

                    <td>

                    </td>
                    <td>
                        <a href="?path=@Model.upperFolder">../</a>
                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                </tr>
                }
                @if (Model.mkdir)
                {
                    <form id="mkdir" action="/Download/mkdir" method="get"></form>
                <tr>

                    <td>

                    </td>
                    <td>
                        <input type="text" id="folderName" name="folderName" form="mkdir">
                        <input type="submit" name="" value="Create" form="mkdir" />
                        <input type="hidden" name="path" value=@Model.path form="mkdir">
                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                </tr>
                }
                @foreach (var item in Model.folders)
                {
                <tr>

                    <td href="url">
                            @if (!item.Name.Equals(".."))
                            {
                            <input type="checkbox" name="folders" value=@item.Name onclick="return ValidatePetSelection();" form="download">
                            }
                    </td>
                    <td>
                        <a href="?path=@item.ServerPath" }>@Html.DisplayFor(modelItem => item.Name)</a>
                    </td>
                    <td>

                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.DateString)
                    </td>
                    <td>

                    </td>
                </tr>

                }


                @foreach (var item in Model.files)
                {
                <tr>
                    <td>
                        <input type="checkbox" name="files" value=@item.Name onclick="return ValidatePetSelection();" form="download">
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.Extension)
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.DateString)
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.SizeString)
                    </td>
                </tr>

                }

        </tbody>
    </table>
    <div class="m-1">
        <div class="row container">
            <div class="col-6"><div class="m-1">
                <input type="submit" class="file-input" value="Download selected files" form="download">
            

            <form action="/Download" enctype="multipart/form-data" method="GET">
                <input type="hidden" name="path" value=@Model.path>
                <input type="hidden" name="mkdir" value="true">
                <input type="submit" class="file-input" value="Create folder">
            </form>

            </div></div>
            <div class="col-6">
                <form action="/Download/Upload" enctype="multipart/form-data" method="POST">
                <input type="hidden" name="path" value=@Model.path>
                <div class="form-group" AllowMultiple="true">
                    <input type="file" class="form-control-file m-1 file-input" id="fileUpload" AllowMultiple="true" multiple
                    name="FileUpload" style="width: 110%;">
                </div>
            <button type="submit" class="btn btn-primary m-1 file-input">Upload</button>
            </form>
            </div>
        </div>
    </div>
</div>